/* vars */ 

$black: #010000;
$white: #fff;
$lightGrey: #e6e6e6;
$darkGrey: #333;


/* Mixins */ 

@mixin translate($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: translateY($e);
  -moz-transition: translateY($e);
  transition: translateY($e);
}