@import "_config.scss";


$black: #010000;
$white: #fff;
$lightGrey: #e6e6e6;
$grey: #b6b6b6;
$darkGrey: #333;

$font-stack: 'Raleway', Helvetica, sans-serif;
$primary-color: #333;

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');


/* Mixins */ 

@mixin translate($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}


@mixin transition($e) {
  -webkit-transition: translateY($e);
  -moz-transition: translateY($e);
  transition: translateY($e);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  color: $darkGrey;
  width: 90%;
  background: white;
  margin: auto;
  text-decoration: none;
}

p{
  font-size: 2em;
  line-height: 35px;
}

h1 {
  font-family: "Avenir Next", sans-serif;
  font-size: 2.8em;
  font-weight: 200;
  color: #7D7C7D;
  padding-top: 1.5em;
  text-align: center;
}

h3 {
  font-family: "Avenir Next", sans-serif;
  font-size: 2.3em;
  font-weight: 500;
}

a {
  color: black;
}

  /* HEADER */ 

.header-container {
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid #F2F2F2;
   padding: 2.3em 0;
}

 header { 
  
  .logo {
     margin-left: 5%;
     width: 500px;
  }
   
  .logo img {
     display: block;
  }
 
  nav {
    margin: 1.5em 0 0 5%;
    top: 50%;
    /*display: flex;*/
    /* @include translateY(-50%);*/
    ul {
      text-decoration: none;
      list-style:none;
      li {
        display: inline-block;
        padding: 0 1.4em 1em 2em;
        font-size: 2em;
        a {
          text-decoration: none;
          color: #7D7C7D; 
          &:active {
            color: #000000;
            border-bottom: 2px solid #000000;
            font-weight: 300;
          }         
          &:hover {
            color: $grey;
          }
          &last {
            margin: 0;
          }
        } 
      }  
    }
  }  /* nav  */ 

} /* header */ 


  /*Media Query - screen larger then 600px*/

  @media screen and (min-width : 600px) {

    h1 {
      padding-top: 3em;
    }

    .header-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .logo {
      margin-left: 2.3em;
    }

    nav {
      align-self: center;
      margin: 0 0.8em 0 0;
    }
  }


  @media screen and (min-width : 1200px) {
    body {
     /* max-width: 1200px;*/
     margin: auto;
   }
 }


 /* collapse nav ? */
 @media (max-width: 1080px) {
  .nav li { display: none; }
  .nav:before { content: "\2261"; font-size: 80pt; }
  .nav.visible li { display: block; font-size: 12pt; }
}


/* Image Slider */ 

#container, .carousel {
  height:100%;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

$theme-blue: #A9D86B;

.image-slide {
  height: 100%;
  width: 100%;
  transition: background-image .3s ease-in-out;
}

.slide-arrow {
  color: $theme-blue;
  cursor: pointer;
  font-size: 3rem;
  position: fixed;
}

.slide-arrow.right {
  right: 3rem;
}

.slide-arrow.left {
  left: 3rem;
}

